.add_btn {
    padding: 16px 32px;
    width: 284px;
    border-radius: var(--radius-small, 6px);
    background: var(--green, #393);
    color: var(--txt-white, #FFF);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.add_btn:hover {
    transition: 0.5s;
    background: var(--black, #282828);
}