.wrapper_contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact_info,
.address_info {
    display: flex;
    gap: 32px;
}

.contact_info>div,
.address_info>div {
    width: 780px;
    height: auto;
    padding: 32px;
    border-radius: var(--radius-big, 12px);
    background: var(--light-grey, #F1F3F4);
}

.contact_info>div>p,
.address_info>div>p {
    padding-bottom: 16px;
    color: var(--txt-grey, #8B8B8B);
    font-weight: 500;
    font-size: 20px;
}

.contact_info>div>h4,
.address_info>div>h4 {
    color: var(--txt-black, #282828);
    font-weight: 600;
    font-size: 40px;
}

.contact_info>div>h4>a,
.address_info>div>h4>a {
    text-decoration: none;
    color: var(--txt-black, #282828);
}

.instagram {
    padding-right: 16px;
    cursor: pointer;
}

.contact {
    cursor: pointer;
}

@media (max-width: 768px) {

    .socials_div,
    .hours_div {
        width: auto;
    }

    .telephone_div,
    .address_div {
        width: 415px;
    }
}

@media (max-width: 480px) {

    .contact_info>div,
    .address_info>div {
        width: auto;
    }

    .contact_info,
    .address_info {
        flex-direction: column;
    }

    .contact_info>div>p,
    .address_info>div>p {
        font-size: 18px;
    }

    .contact_info>div>h4,
    .address_info>div>h4 {
        font-size: 28px;
    }
}