.products_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

@media (max-width: 1000px) {
    .products_container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .products_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 360px) {
    .products_container {
        grid-template-columns: repeat(1, 1fr);
    }
}