.container {
    padding: 32px;
    padding-bottom: 0;
    border-radius: var(--radius-big, 12px);
    background: var(--light-grey, #F1F3F4);
}

.h3_order,
.total_items_sum,
.total_p {
    font-size: 40px;
}

.total_items_sum,
.total_p {
    color: var(--txt-grey, #8B8B8B);
    font-weight: 500;
}

.h3_order {
    padding-bottom: 24px;
}

.total_sum,
.h3_order {
    color: var(--txt-black, #282828);
    font-weight: 700;
}

.total_sum {
    font-size: 64px;
}

.total_price {
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.input {
    color: var(--txt-black, #282828);
    border: 1px solid var(--grey-divider, #ddd);
}

.btn {
    justify-content: center;
    background-color: var(--green, #393);
    color: var(--txt-white, #fff);
}

/* .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    transition: 0.4s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal_content {
    padding: 20px 32px;
    border-radius: 20px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal_content.active {
    transform: scale(1);
} */

@media(max-width: 1000px) {
    .container {
        padding: 32px 20px 0 20px;
    }
}

@media (max-width: 768px) {
    .h3_order,
    .total_p,
    .total_items_sum {
        font-size: 32px;
    }

    .total_sum {
        font-size: 56px;
    }
}

@media (max-width: 480px) {
    .h3_order,
    .total_p,
    .total_items_sum {
        font-size: 28px;
    }

    .total_sum {
        font-size: 48px;
    }
}

@media (max-width: 360px) {
    .total_sum {
        font-size: 40px;
    }
}