.icons_menu_cross_div{
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.burger_icon {
    display: none;
}

.menu_navigation {
    width: 282px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
}

.menu_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    z-index: 1;
}

.link {
    text-decoration: none;
}

.link>p {
    color: var(--txt-black, #282828);
    font-size: 24px;
    font-weight: 500;
    padding: 44px 20px 36px 32px;
}

@media(max-width: 480px) {
    .burger_icon {
        display: flex;
    }
}
