.card_btn button {
    padding: 16px 56px;
    border-radius: var(--radius-small, 6px);
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn_green,
.add_btn,
.order_btn {
    background: var(--green, #393);
    border-radius: var(--radius-small, 6px);
    color: var(--txt-white, #FFF);
}

.add_btn {
    width: 100%;
}

.order_btn {
    width: 100%;
}

.btn_discount button {
    width: 516px;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-small, 6px);
    background: var(--white, #FFF);
    color: var(--txt-black, #282828);
    font-size: 20px;
    font-weight: 600;
}

.add_btn:hover {
    background: var(--black, #282828);
}

.hovered button {
    background: var(--black, #282828);
    color: var(--txt-white, #FFF);
    transition: 0.3s;
}

.submitting button {
    border-radius: var(--radius-small, 6px);
    border: 1px solid var(--black, #282828);
    background: var(--white, #FFF);
    color: var(--txt-black, #282828);
}

@media(max-width: 1000px) {
    .btn_discount button {
        width: 100%;
    }
}

@media(max-width: 480px) {
    .card_btn button {
        padding: 12px 20px;
        font-size: 18px;
    }
}

@media(max-width: 360px) {}