.card_btn button {
    padding: 16px 56px;
    border-radius: var(--radius-small, 6px);
    background: var(--green, #393);
    color: var(--txt-white, #FFF);
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.card_btn:hover {
    background: var(--black, #282828);
    color: var(--txt-white, #FFF);
    transition: 0.3s;
}

.btn_active {
    background: var(--light-grey, #F1F3F4);
    color: var(--green, #393);
}

