.product_wrapper {
  padding: 0 40px 0 40px;
}

.btn_container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  display: grid;
  grid-template-columns: 59% 1fr;
  width: 100%;
  gap: 32px;
}

.image {
  width: 100%;
  height: 574px;
  border-radius: var(--radius-big, 12px);
  overflow: hidden;
  object-fit: cover;
}

.description2 {
  display: none;
}

.title_480 {
  display: none;
}

@media (max-width: 1000px) {
  .product_wrapper {
    padding: 0 20px 0 20px;
  }

  .container {
    grid-template-columns: 50% 1fr;
  }
}

@media (max-width: 768px) {
  .btn_container {
      display: none;
    }

  .container {
    padding-top: 32px;
    gap: 20px;
  }

  .image {
    height: 100%;
  }

  .description2 {
    display: block;
    width: 100%;
  }

  .description2 h3 {
    padding-top: 40px;
    padding-bottom: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    position: relative;
    padding-top: 0;
  }

  .image{
    position: relative;
  }

  .title_480 {
    display: block;
    padding-top: 32px;
    padding-bottom: 20px;
    font-size: 28px;
  }

  .description2 h3 {
    padding-top: 20px;
  }

  .description2 p {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .container {
    grid-template-columns: 1fr;
  }
}