.categories_div {
    margin: 0 40px 0 40px;
}

.products_name {
    padding-bottom: 40px;
}

.btn_container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media(max-width: 1000px) {
    .categories_div {
        margin: 0 20px 0 20px;
    }

    .products_name {
        padding-bottom: 32px;
    }
}

@media(max-width: 480px) {
    .products_name {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .btn_container {
        display: none;
    }
}

