.categories_div {
    margin: 0 40px 80px 40px;
}

.categories_set {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.btn_container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.line {
    width: 16px;
    height: 1px;
    background: #DDD;
}

@media(max-width: 1000px) {
    .categories_div {
        padding-bottom: 60px;
    }

    .categories_set {
        width: 306px;
    }
}

@media(max-width: 768px) {
    .btn_container {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

@media(max-width: 480px) {
    .categories_set {
        width: 210px;
    }

    .category_title {
        font-size: 18px;
    }

    .btn_container, 
    .line {
        display: none;
    }

    .categories_div {
        padding-top: 32px;
        padding-bottom: 56px;
    }
}

