.add_btn,
.btn_green {
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: var(--green, #393);
    border-radius: var(--radius-small, 6px);
    color: var(--txt-white, #FFF);
}

.card_btn .btn_green {
    padding: 16px 56px;
}

.card_btn .add_btn {
    padding: 16px 32px;  
    width: 100%;
}

.add_btn:hover {
    background: var(--black, #282828);
    transform: 0.3s;
}

.submitting button {
    border-radius: var(--radius-small, 6px);
    background: var(--light-grey, #F1F3F4);
    outline: 1px solid var(--black, #282828);
    color: #282828;
} 
