.home_picture_container {
    position: relative;
    width: 100%;
}

.home_picture {
    width: 100vw;
    height: 600px;
    position: relative;
    object-fit: cover;
}

.text_amazing {
    top: 80px;
    left: 40px;
    position: absolute;
    color: var(--txt-white, #FFF);
    font-weight: 700;
    font-size: 96px;
}

.btn_home_picture {
    left: 40px;
    bottom: 215px;
    padding: 16px 56px;
    position: absolute;
    border-radius: var(--radius-small, 6px);
    background: var(--green, #393);
    color: var(--txt-white, #FFF);
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .home_picture {
        margin-left: -20px;
    }

    .text_amazing {
        font-size: 90px;
    }

    .btn_home_picture {
        bottom: 70px;
    }
}

@media (max-width: 768px) {
    .text_amazing {
        font-size: 68px;
    }

    .btn_home_picture {
        bottom: 150px;
    }
}

@media (max-width: 480px) {
    .text_amazing {
        font-size: 60px;
    }

    .btn_home_picture {
        bottom: 155px;
    }
}

@media (max-width: 360px) {
    .text_amazing {
        font-size: 52px;
    }

    .btn_home_picture {
        bottom: 185px;
    }
}