.products_wrapper {
    width: auto;
    height: auto;
    position: relative;
    border-radius: var(--radius-big, 12px);
    border: 1px solid var(--grey-divider, #DDD);
    background-with-opacity: lightgray;
}

.add_btn {
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    position: absolute;
    display: flex;
        justify-content: center;
        align-items: center;
    width: 100%;

    bottom: 154px;
    transition: 0.3s;
}

.products_wrapper:hover .add_btn {
    opacity: 1;
    transform: 0.3s;
    
}

.products_img {
    width: 100%;
    height: 284px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-top-left-radius: var(--radius-big, 12px);
    border-top-right-radius: var(--radius-big, 12px);
    border-bottom: 1px solid var(--grey-divider, #DDD);
}

.products_link {
    text-decoration: none;
}

.products_information {
    margin: 0 32px 32px 32px;
}

.products_title_container {
    margin-top: auto;
}

.products_title {
    padding-top: 20px;
    padding-bottom: 16px;
    color: var(--txt-black, #282828);
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.products_title_container {
    max-width: 185px;
    /* Максимальная ширина контейнера с текстом */
    overflow: hidden;
}
.real_price {
    color: var(--txt-black, #282828);
    font-size: 40px;
    font-weight: 600;
}

.old_price {
    color: var(--txt-grey, #8B8B8B);
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
}

.price_with_discount {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.sale_value {
    display: flex;
    padding: 4px 8px;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    right: 16px;
    top: 16px;
    border-radius: var(--radius-small, 6px);
    background: var(--green, #393);
    color: var(--txt-white, #FFF);
    font-size: 20px;
    font-weight: 600;
}

.price_container {
    margin-top: auto;
}