.product_wrapper {
    margin: 0 40px 80px 40px;
}

.btn_container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.line {
    width: 16px;
    height: 1px;
    background: #DDD;
}

.container {
    display: grid;
    grid-template-columns: 61% 1fr;
    width: 100%;
    gap: 32px;
}

.image img {
    width: 100%;
    border-radius: var(--radius-big, 12px);
}

.info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.info h3 {
    color: var(--txt-black, #282828);
    font-size: 40px;
    font-weight: 700;
}

.description h3 {
    padding-bottom: 16px;
    color: var(--txt-black, #282828);
    font-size: 20px;
    font-weight: 600;
}

.description p {
    color: var(--txt-black, #282828);
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
}

.btn_counter {
    width: 58px;
    height: 58px;
    border-radius: var(--radius-small, 6px);
    border: 1px solid var(--grey-divider, #DDD);
    cursor: pointer;
}

.buttun_add_to_card{
    margin-left: 32px;
    width: 316px;
}

.price_containe {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.real_price {
    padding-right: 32px;
    color: var(--txt-black, #282828);
    font-size: 64px;
    font-weight: 700;
    display: flex;
    align-items: baseline;
    gap: 32px;
}

.old_price {
    display: flex;
    align-self: flex-end;
    padding-right: 16px;
    color: var(--txt-grey, #8B8B8B);
    font-size: 40px;
    font-weight: 500;
    text-decoration: line-through;
}

.price_with_discount {
    display: flex;
    align-items: flex-start;
}

.sale_value {
    padding: 4px 8px;
    gap: 10px;
    border-radius: var(--radius-small, 6px);
    background: var(--green, #393);
    color: var(--txt-white, #FFF);
    font-size: 20px;
    font-weight: 600;
}

.counter {
    display: flex;
    width: 96px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--grey-divider, #DDD);
    border-bottom: 1px solid var(--grey-divider, #DDD);
    color: var(--txt-black, #282828);
    font-size: 20px;
    font-weight: 600;
}