.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -40px;
    margin-right: -40px;
    padding-bottom: 30px;
}


.menu_wrapper {
    display: flex;
    gap: 20px;
}

.shop_menu{
    display: flex;
    align-items: end;
}

.line {
    border-bottom: 1px solid var(--grey-divider, #DDD);
    width: 1440px;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 40px;
}

.link {
    color: var(--txt-black, #282828);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

.icon_shop {
    width: 48px;
    height: 48px;
}

@media (max-width: 480px) {
    .menu_wrapper {
        display: none;
    }

    .logo {
        width: 44px;
        height: 44px;
    }

    .icon_shop,
    .burger_icon {
        width: 32px;
        height: 32px;
    }
}