@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

.app_container{
    max-width: 1440px;
    margin: auto;
}

h1 {
    color: var(--txt-black, #282828);
    font-weight: 700;
    font-size: 64px;
}

@media(max-width: 1000px) {
    .app_container {
        margin: 30px 20px 60px 20px;
    }
}

@media(max-width: 780px) {
    .app_container {
        margin: 20px 20px 60px 20px;
    }

    h1 {
        font-size: 56px;
    }
}

@media(max-width: 480px) {
    .app_container {
        margin: 12px 20px 56px 20px;
    }

    h1 {
        font-size: 48px;
    }
}

@media(max-width: 360px) {
    h1 {
        font-size: 40px;
    }
}