.cart_wrapper {
  margin: 0 40px 0 40px;
}

.flex_container {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 59% 1fr;
  gap: 32px;
}

.title_container {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .cart_wrapper {
    margin: 0 20px 0 20px;
  }

  .flex_container {
    /* width: calc(100% - 40px); */
    grid-template-columns: 50% 1fr;
    
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .title_container {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .flex_container {
    /* width: calc(100% - 40px); */
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .title_container {
    margin-bottom: 24px;
  }
}
