.header_container {
  position: sticky;
  top: 0;
  z-index: 6;
  border-bottom: 1px solid var(--grey-divider, #ddd);
  background: #fff;
}

.header_wrapper {
  padding: 30px 40px 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.line {
  border-bottom: 1px solid var(--grey-divider, #ddd);
  width: 100vw;
}

.logo {
  width: 70px;
  height: 70px;
}

.link {
  color: var(--txt-black, #282828);
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}

.active_link {
  color: var(--green, #393);
}

.icon_shop {
  width: 48px;
  height: 48px;
}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -10px;
  color: var(--white, #fff);
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px solid #393;
  background-color: var(--green, #393);
  border-radius: 20px;
}

.burger_menu_container {
  display: none;
}

@media (max-width: 1000px) {
  .header_wrapper {
    padding: 30px 20px 20px 20px;
  }
}

@media (max-width: 768px) {
  .header_wrapper {
    padding: 20px 20px 20px 20px;
  }
  
  .link {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .header_wrapper {
    padding: 12px 20px 12px 20px;
  }

  .menu_wrapper {
    display: none;
  }

  .logo {
    width: 44px;
    height: 44px;
  }

  .icon_shop {
    width: 32px;
    height: 32px;
  }

  .cart span {
    width: 17.333px;
    height: 17.333px;
    font-size: 8px;
    left: -5px;
  }

  .shop_menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .burger_menu_container {
    display: flex;
  }
}