.home_picture_container {
    position: relative;
    width: 100%;
}

.home_picture {
    width: 100%;
    height: 650px;
    position: relative;
    object-fit: cover;
}

.text_and_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 80px;
    left: 40px;
    position: absolute;
    gap: 40px;
}

.text_amazing {
    color: var(--txt-white, #FFF);
    font-weight: 700;
    font-size: 96px;
}

@media (max-width: 1000px) {
    .text_amazing {
        font-size: 90px;
    }

    .text_and_btn {
        top: 60px;
        left: 20px;
        right: 20px;
    }
}

@media (max-width: 768px) {
    .text_amazing {
        font-size: 68px;
    }
}

@media (max-width: 480px) {
    .text_amazing {
        font-size: 60px;
    }

    .text_and_btn {
        gap: 24px;
    }
}

@media (max-width: 360px) {
    .text_amazing {
        font-size: 52px;
    }
}