.cart {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 32px;
    border-radius: var(--radius-big, 12px);
    border: 1px solid var(--grey-divider, #DDD);
}

.cross_delete {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 24px;
    height: 24px;
}

.shopping_img {
    width: 100%;
    height: 180px;
    border-radius: var(--radius-big, 12px) 0px 0px var(--radius-big, 12px);
    border: 1px solid var(--grey-divider, #DDD);
}

.product_info {
    display: flex;
    gap: 32px;
}

.product_name {
    overflow: hidden;
    color: var(--txt-black, #282828);
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
}

.products {
    padding: 32px 32px 32px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.price_counter,
.container {
    display: flex;
    flex-direction: row;
}

.icon_minus,
.icon_plus {
    width: 58px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-small, 6px);
    border: 1px solid var(--grey-divider, #DDD);
}

.counter {
    width: 58px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--txt-black, #282828);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-top: 1px solid var(--grey-divider, #DDD);
    border-bottom: 1px solid var(--grey-divider, #DDD);
}

.icon_plus {
    margin-right: 32px;
}

.real_price {
    padding-right: 32px;
    display: flex;
    align-items: baseline;
    gap: 16px;
    font-size: 40px;
    font-weight: 600;
    color: var(--txt-black, #282828);
}

.price_with_discount {
    display: flex;
    align-items: flex-start;
}

.discount_price {
    padding-right: 16px;
    display: flex;
    align-self: flex-end;
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--txt-grey, #8B8B8B);
}

@media (max-width: 1000px) {
    .product_info {
        gap: 20px;
    }

    .shopping_img {
        height: 193px;
    }

    .products {
        padding: 20px 20px 20px 0;
        gap: 12px;
    }

    .cross_delete {
        top: 16px;
        right: 16px;
    }

    .container {
        flex-direction: column;
        gap: 12px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: row;
    }

    .shopping_img {
        height: 136px;
    }

    .icon_plus {
        margin-right: 12px;
    }

    .real_price {
        padding-right: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .real_price {
        font-size: 36px;
    }

    .shopping_img {
        width: 210px;
        height: auto;
    }

    .discount_price {
        font-size: 18px;
    }

    .counter,
    .icon_minus,
    .icon_plus {
        width: 47px;
        height: 47px;
    }
}

@media (max-width: 3600px) {
    .shopping_img {
        width: 160px;
        height: auto;
    }
}