.cart_wrapper {
    margin: 0 40px 0 40px;
}

.btn_container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.categories_h1 {
    padding-right: 32px;
    white-space: nowrap;
}

.line {
    width: 100%;
    height: 1px;
    background: #DDD;
}

.flex_container {
    display: grid;
    grid-template-columns: 59% 1fr;
    gap: 32px;
}


@media(max-width: 1000px) {
    .cart_wrapper {
        margin: 0 20px 0 20px;
    }

    .flex_container {
        grid-template-columns: 50% 1fr;
        gap: 20px;
    }
}

@media(max-width: 768px) {
    .btn_container {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .flex_container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media(max-width: 480px) {

    .btn_container,
    line {
        display: none;
    }
}